---
title: "@title@"
description: "@manuf@"
metadata:
  01_manufacturer: "@manuf@"
  02_model: "@model@"
  03_version: "@version@"
  04_approx_manufacture_date: "@date@"
sortKeys: true
type: gallery
---
