---
title: "@title@"
description: "@desc@"
metadata:
  01_issuer: "@issuer@"
  02_value: "@value@"
  03_currency: "@currency@"
  04_years-produced: "@years@"
  05_year-on-coin: "@year@"
  06_composition: "@composition@"
  07_weight: "@weight@ g"
  08_diameter: "@diameter@ mm"
  09_thickness: "@thickness@ mm"
  10_shape: "@shape@"
  11_alignment: "@alignment@"
  12_edge: "@edge@"
  13_mint: "@mint@"
  14_references: "@ref@"
sortKeys: true
type: gallery
---